#pageApply {
    background-color: white;
    height: auto;
    border-radius: 0.5em;
    box-shadow: -10px 12px 18px 8px rgba(0, 0, 0, 0.35);
}

#pageHeader {
    padding-bottom: 0.5em;
}

#pageContentApply {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    flex-direction: column;
}

#applyPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.applyQuestion {
    width: 100%;
}

.questionEntry {
    padding-top: 0.4em;
    width: 100%;
    border: none;
    border-bottom-style: groove;
}

#applyFooter {
    padding-top: 1em;
    padding-bottom: 1em;
}

#applySubmit {
    background-color: #333333;
    color: white;
    border-radius: 0.5em;
    border: 1.8px solid #1d1d1db7;
    box-shadow: 0px 0px 18px 8px rgba(0, 0, 0, 0.35);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}